DEBUG=True
SECRET_KEY=secretkey
ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
SITE_ID=1
NDC_DATABASE_URL=https://www.accessdata.fda.gov/cder/ndcxls.zip
RAVEN_DSN=https://e538805d79de4617925990bf8968a662:7a48ee6019ff4feeb5177e9ee04080cb@sentry.io/1241649
FROM_EMAIL=no-reply@medfinder.us
CENSUS_API_KEY=0f201b752fef55011172743423103bd6b7133f6f